@font-face {
    font-family: 'Actief Grotesque';
    src: url('../fonts/ActiefGrotesque-W-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Actief Grotesque';
    src: url('../fonts/ActiefGrotesque-W-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Actief Grotesque';
    src: url('../fonts/ActiefGrotesque-W-Bd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GT Super WT';
    src: url('../fonts/GT-Super-WT-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Super WT';
    src: url('../fonts/GT-Super-WT-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
